# SPDX-FileCopyrightText: The InstructLab Authors
# SPDX-License-Identifier: Apache-2.0

# These requirements include all dependencies for all top-level python scripts

-r ./requirements/requirements-llama-server.txt
-r ./requirements/requirements-model-load-run.txt
-r ./requirements/requirements-model-run-from-server.txt