#####################################################
#
# List of approvers for instruct-lab/cli repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*   @soltysh @xukai92 @markstur @hickeyma @afrittoli @spzala @Tomcli @mrutkows

/cli/lab.py @abhi1092
/cli/generator/ @abhi1092
/notebooks/ @rawkintrevo
*.md   @mairin @kelbrown20 @jeremyeder
/docs/ @mairin @kelbrown20 @jeremyeder
