[project]
name = "cli"
version = "0.0.1"
authors = [
    { name="TBD", email="jon@example.com" },
]
description = "CLI for interacting with labrador"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Programming Language :: Python :: 3",
]
dynamic = ["dependencies"]

[project.urls]
Homepage = "https://github.com/open-labrador/cli"
Issues = "https://github.com/open-labrador/cli/issues"

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}

[project.optional-dependencies]
train = ["mlx>=0.0.7", "transformers", "numpy", "torch"]
convert = ["gguf==0.6.0"]

[project.scripts]
# defines lab executable
lab = "cli.lab:cli"

[tool.setuptools.packages.find]
# defines where to look for sub-packages
where = [""]
include = ["cli", "cli.chat", "cli.generator", "cli.train", "cli.train.lora-mlx", "cli.train.lora-mlx.models"]
