# SPDX-License-Identifier: Apache-2.0

-r requirements.txt

isort
mypy>=1.10.0
pre-commit>=3.0.4
pydeps>=1.12.12
pylint>=2.16.2
pylint-pydantic
pytest
pytest-asyncio
pytest-cov
pytest-html
ruff
tox>=4.4.2
