# SPDX-License-Identifier: Apache-2.0
# Dependencies for installing vLLM on CUDA

# vLLM only supports Linux platform (including WSL)
vllm @git+https://github.com/opendatahub-io/vllm@2024.07.24 ; sys_platform == 'linux' and platform_machine == 'x86_64'
