# SPDX-License-Identifier: Apache-2.0

name: Spellcheck

on:
  pull_request:
    branches:
      - main
      - "release-**"
    paths:
      - '**.md'
      - 'tox.ini'
      - '.spellcheck*'
      - '.github/workflows/spellcheck.yaml' # This workflow file

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout Code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0

      - name: Install aspell
        run: |
          sudo sudo apt-get update
          sudo apt-get install -y aspell aspell-en

      - name: Setup Python 3.12
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: 3.12
          cache: pip
          cache-dependency-path: |
            **/pyproject.toml
            **/requirements*.txt

      - name: Install tox dependencies
        run: python -m pip install --upgrade tox

      - name: Run spellchecker
        run: python -m tox -e spellcheck
