# SPDX-License-Identifier: Apache-2.0

name: Validate Notebooks

on:
  push:
    branches:
      - "main"
      - "release-**"
    paths:
      - 'notebooks/*.ipynb'
      - 'scripts/*.sh' # Used by this workflow
      - '.github/workflows/validate-notebooks.yml' # This workflow
  pull_request:
    branches:
      - "main"
      - "release-**"
    paths:
      - 'notebooks/*.ipynb'
      - 'scripts/*.sh' # Used by this workflow
      - '.github/workflows/validate-notebooks.yml' # This workflow

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  validate-notebook:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # https://github.com/actions/checkout/issues/249
          fetch-depth: 0

      - name: Install dependent PRs if needed
        uses: depends-on/depends-on-action@61cb3f4a0e2c8ae4b90c9448dc57c7ba9ca24c35 # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python 3.11
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.11
          cache: pip

      - name: Install nbformat
        run: |
          python -m pip install --upgrade pip
          python -m pip install nbformat

      - name: Validate Jupyter Notebooks
        run: |
          find notebooks/ -name "*.ipynb" -print0 | xargs python scripts/validate_notebook.py
